@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Asap:wght@500&family=Caveat:wght@500&family=Josefin+Sans&family=Kalam&family=Playfair+Display:ital@1&family=Source+Serif+Pro&display=swap');

body {
  font-family: 'Alegreya', serif;
font-family: 'Asap', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Source Serif Pro', serif;
  position: relative;
  min-height: 100vh;
  background-color: #fafafa;
}