
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #fafafa;
}