.container_agenda {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-left: 16rem;
}
.calendario{
  background-color: white;
  margin: 40px;
  min-width: 50vw;
  min-height: 40vh;
  display: flex;
  align-items: center;
  align-content: center;
}
.react-calendar__tile:disabled{
  background-color: transparent ;
  color: black;
}
.btn_reset {
  color: white;
  border-color: white;
}
.btn_reset:hover{
  background-color: white;
  border-color: white;
  color: #00c1fc;
}
.btn_reset:focus,
.btn_reset:active {
  background-color: white;
  border-color: white;
  color: #00c1fc;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus{
  box-shadow: 0 0 0 0.25rem #00c1fc !important;
}
.titulo-turnos {
  margin-bottom: 10px;
}
.ult_turnos{
  background-color: #c0f1fc;
  padding: 10px 0px 2px 0px;
  margin: 10px;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 35vh;
}
.style_container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.no-hay-turnos{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
}
.dia {
  text-align: center;
  flex-basis: 25%;
  background-color: #00c1fc;
  color: white;
  min-height: 400px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px 0px 0px 10px;
}
.dia_arrows_num {
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.dia_arrow{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.dia_numero{
  font-size: 80px;
  margin-bottom: 0px;
}
.dia_mes {
  font-size: 18px;
}
.calendario_completo {
  padding: 5px;
  font-size: 18px;
  flex-basis: 75%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* CALENDARIO */
.react-calendar {
  max-width: 100%;
  width: 100% !important;
  height: 100%;
  max-height: 100%;
  background-color: white;
  border: 0px !important;
  border-radius: 0px 10px 10px 0px;;
  line-height: 1.125em;
  font-family: 'Open Sans', sans-serif;
  padding: 32px;
}
.react-calendar__month-view__weekdays{
  font-size: 20px;
  text-transform: capitalize !important;
}
.custom-calendar .react-calendar__month-view__days {
  margin: 0;
  padding: 0;
  font-weight: bold !important;
}

/* Ajustar padding y margin de los días del calendario */
.custom-tile {
  margin: 5px;
  padding: 15px 0px 15px 0px!important; 
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  border-radius: 6px;
}
 
.react-calendar__tile--now {
  background: #00c1fc !important;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
 
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #00c1fc !important;
  border-radius: 30px;
  font-weight: bold;
}
 
.react-calendar button {
  border-radius: 30px;
}
.react-calendar button:hover {
  border-radius: 30px !important; 
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa !important;
  border-radius: 30px;
}

.react-calendar__tile--active {
  background: #00c1fc !important;
  border-radius: 30px;
  font-weight: bold;
  color: black !important;
}
.react-calendar__tile--active:active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #f8f8fa !important;
  border-radius: 30px;
  color: white;
}

.react-calendar__tile--active abbr {
  color: white ;
}

.react-calendar__tile:disabled {
  background-color: none;
}
 
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
  border-radius: 30px !important;
}
 
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #d4a713;
  border-radius: 0;
}
 
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #f8f8fa;
  color: white;
}
 
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #f8f8fa;
  color: white;
}

.box-vtodos{
  display: flex;
  justify-content: flex-end;
}
.btn-vtodos{
  border-radius: 20px;
  border: 0px solid #00c1fc;
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 8px;
  margin: 5px;
  font-weight: bold;
  text-decoration: underline;
}
.btn-vtodos:hover{
  color: #00c1fc;
}
.sin-padding{
  padding: 0%;
  display: flex;
  width: max-content !important;
  overflow: visible !important;

}
.box-modal{
  display: flex;
  width: max-content;
  margin: 0.2rem;
}
.container_btn_mis_horarios {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 7px;
}
.btn_mis_horarios{
  padding: 3px;
  font-size: 22px;
  border-radius: 30px;
  color: red;
  cursor: pointer;
}
.btn_mis_horarios:hover{
  transform: scale(1.15, 1.15);
}
.container_modal_fecha {
  text-align: start;
  padding: 5px;
  margin: 5px;
}
.jornada_descipcion {
  font-size: 12px;
  text-align: start;
}