.main-container{
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
.graph-container{
    background-color: #c0f1fc;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 10px;
    margin: 10px;
    margin-top: 3rem;
    min-width: 50vw;
    max-width: 50vw;
    max-height: 35vh;
    min-height: 35vh;
}
.stats-container{
    background-color: #c0f1fc;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 10px;
    margin: 10px;
    min-width: 50vw;
    max-width: 50vw;
    max-height: 35vh;
    min-height: 35vh;
    display: flex;
    align-items: center;
}
.numero-grande {
    font-size: 100px; /* Cambia el tamaño de fuente de los números */
    font-weight: bold; /* Hace que los números estén en negrita */
    color: #00c1fc;
  }
  
  /* Estilo personalizado para los títulos */
  .titulo {
    font-size: 18px; /* Cambia el tamaño de fuente de los títulos */
    color: #00c1fc;
    font-weight: bold;
  }
.vertical-line {
    border-left: 4px solid #00c1fc; /* Estilo de la línea vertical */
    height: 100%; /* Altura de la línea vertical igual a la del contenedor */
    margin: 0 auto; /* Centra la línea vertical horizontalmente */
  }