.footer{
    background-color: #007b97 !important;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px !important;
}
.imgFooter {
    display: flex;
    justify-content: space-around;
}
.icon{
width: 50px;
}
.footer_text {
    padding: 40px 40px 0px 40px;
}
.footer_hr {
    padding: 10px 40px 0px 40px;
}
.footer_text_row {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: unset !important;
    color: unset !important;
    text-decoration: underline #05c7f2 2px solid;
}
.col {
    text-align: start;
}
.container_icons_footer{
    padding: 8px;
}
.icon_footer {
    font-size: 22px;
}
.icon_footer:hover{
    cursor: pointer;
    color: #05c7f2;
}