.footer{
    background-color: #007b97 !important;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px !important;
    margin-top: 30px !important;
}
.icon{
width: 50px;
}
.footer_text {
    padding: 40px 40px 0px 40px;
}
.footer_hr {
    padding: 10px 40px 0px 40px;
}
.footer_text_row {
    color: white;
}
.a_footer {
    color: white;
    text-decoration: none;
}
.a_footer:hover{
    background-color: unset !important;
    color: unset !important;
    text-decoration: underline #05c7f2 2px solid;
}
.logoCurcuma {
    cursor: pointer;
}
.col {
    text-align: start;
}
.container_icons_footer{
    padding: 8px;
}
.icon_footer {
    font-size: 22px;
}
.icon_footer:hover{
    cursor: pointer;
    color: #05c7f2;
}
.location_footer{
    display: flex;
    flex-flow: row !important;
}
.icon_location_footer {
    padding-right: 5px;
}