.no-wrapper{
  margin: 0px !important;
  padding: 0px !important;
}
/*intro*/
.firstcolumintro{
  align-items: center;
  display: flex;
  text-align: center;
}
.titlemarca{
color: #05c7f2;
}
.descripmarca{

}

.logomarca{

}


/* Carousel */

/* Acerca De */
.acercaDe_home {
  padding: 40px;
  margin-bottom: 15px;
}
.card {
  text-align: center;
  padding: 20px;
}

.title-acercade{
  color:#f20775 ;
}
.info1{
  border-right: 7px solid #f20775;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.info2{
  border-right: 7px solid #f20775;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.info3{
  border-top: none;
  border-right: none;
  border-bottom: none;
}

