#parentM li a:hover {
  background-color: #262728;
  cursor: pointer;
}
#parentM a {
  color: white;
}
#parentM {
  background-color: #57afe2 !important;
}
.nav_content {
  background-color: #57afe2 !important;
  text-align: center;
  position: sticky;
  max-width: 285px;
}
.menu-lateral{
  min-height: 92.3vh !important;
}
.nav-title{
  margin-top: 2rem !important;
}
.inicio-menu{
  margin-bottom: -1.7rem !important;
}
.nav_content_title {
  position: fixed;
}
.nav_line {
  width: 100% !important;
}
.fijar-nav{
  position: fixed !important;
  z-index: 30 !important;
}
.bottonnav-item {
  font-size: 18px;
  text-decoration: none !important;
}
