#parentM li a:hover {
  background-color: #262728;
  cursor: pointer;
}
#parentM a {
  color: white;
}
#parentM {
  background-color: #57afe2 !important;
}
.nav_content {
  background-color: #57afe2 !important;
  text-align: center;
  position: sticky;
  max-width: 285px;
}
.inicio-menu{
  margin-bottom: -1.7rem !important;
}
.nav_title {
  padding: 0px !important;
  margin: 10px 15px 10px 0px;
}
.nav_content_title {
  position: fixed;
}
.nav_line {
  width: 100% !important;
}
.bottonnav-item {
  font-size: 18px;
  text-decoration: none !important;
}
