/*barra completa*/
.fondonav {
  background-color: white;
  color: white;
}
.navbar {
}
NavLink {
  text-decoration: none !important;
}

/*Logo*/
.logonav {
    width: 120px;
}

/*botones sin inicio*/
.bn {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #05c7f2;
}

.logbutton {
  border: 1px solid #05c7f2 !important;
  color: #00c6f2;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
}
.logbutton:hover {
  background-color: #05c7f2;
  color: white;
}
.regbutton {
  background-color: #05c7f2;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.regbutton:hover {
  background-color: #05c7f2;
  opacity: 0.8;
  border: 1px solid #05c7f2;
}

/*botones con inicio*/
