/*barra completa*/
.fondonav {
  background-color: white;
  color: white;
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  position: sticky;
  z-index: 200;
  top: 0;
}
NavLink {
  text-decoration: none !important;
}
.text_navbar {
  text-decoration: none !important;
  font-size: 17px;
  color: black;
  font-weight: 100;
}
.text_navbar:hover {
  color: grey;
}
.icon_navbar {
  font-size: 20px;
  margin-right: 10px;
  color: #ffffff;
}
/*Logo*/
.logonav {
  width: 100px;
  margin-left: 20px;
}

/*botones sin inicio*/
.bn {
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  position: relative;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #05c7f2;
}

.logbutton {
  border: 1px solid #05c7f2 !important;
  color: #00c6f2;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
}
.logbutton:hover {
  background-color: #05c7f2;
  color: white;
}
.regbutton {
  background-color: #05c7f2;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.regbutton:hover {
  background-color: #05c7f2;
  opacity: 0.8;
  border: 1px solid #05c7f2;
}

/*botones con inicio*/
.regprof {
  font-weight: bold;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #00c0e7;
}
.searchprof {
  font-weight: bold;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #00c0e7;
}
.userbutton {
  background-color: #05c7f2;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #05c7f2;
}

.userbutton:hover {
  background-color: #05c7f2;
  opacity: 0.8;
  border: 1px solid #05c7f2;
}

/*En teoria este es el icono*/
.iconnav-user {
  color: #ed1a40 !important;
  margin-right: 5px;
}
