.squaro {
    border-radius: 4px;
    background: #C0F1FC;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-top: 20px;
    padding: 20px;
    width: 650px;
    margin-top: 40px;
  }
  .form-floating{
    display: flex;
    align-items: center;
  }
  .icon_edit{
    cursor: pointer;
    padding: 5px;
    color: black;
  }
  .icon_edit:hover{
    transform: scale(1.17, 1.17);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_btns{
    display: flex;
    justify-content: flex-end;
  }
  .btn_active {
    background-color: white !important;
  }
  .container_img {
    display: flex;
    flex-flow: row;
    margin-left: 60px;
  }
  .icon_matricula{
    color:transparent;
    padding: 5px;
  }
  .icono-perfil-prof {
    color:#00c1fc;
    font-size: 170px;
    margin: 10px;
    margin-left: 36px;
  }

  .container_form { 
    margin-top: -6px;
  }

  .fields { 
    margin-top: 20px;
  }

  .inputreg-prof { 
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 2px 0;
    width: 280px;
  }
  .Button-edit{
    border-radius: 20px;
    /* background-color: #00c1fc; */
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }