.regtitle {
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.regcontainer{
  margin-top: 7px !important;
}

.inputreg{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}


/*subtitulos del form*/

.subtitleform {
  color: black;
}

/*separador de form*/

.separador {
  margin: 0px;
  color: #05c7f2;
  border: 1.2px solid #05c7f2;
}

/*boton de registro*/

.regbutton {
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #05c7f2;
}
.regbutton:hover {
  background-color: #05c7f2;
  opacity: 0.8;
  border: 1px solid #05c7f2;
}
.containerbutreg{
  display: flex;
  justify-content: center;
  padding: 0px 10px 10px 10px;

}

.registerBottom {
  color: #05c7f2;
}
.error-text{
  color: red;
}
.formfirstreg{
  width: 100%;
}