
.sepreg{
 margin-bottom: 10px;
}
.regprofbutton {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    margin: 10px;
    border: 1px solid #05c7f2;
    background-color: #05c7f2;
  }
  .regprofbutton:hover {
    background-color: #05c7f2;
    opacity: 0.8;
    border: 1px solid #05c7f2;
  }
  .containerbuttonregprof{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
  }
  .containerprof {
    max-width: 100%;
    height: 75vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .form-prof{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .formfirst{
    width: 60%;
  }